<a href="/villes">retour</a>
<h1>Restaurants de la ville de <%= @ville["name"] %> </h1>
<br>
<table class="table table-bordered table-hover">
  <% @ville.restaurants.each_with_index do |restaurant, index| %>
      <tr>
        <td><%= restaurant["name"] %></td>
        <td><%= restaurant["description"] %></td>
        <td><img width="100" src="<%= restaurant["image"] %><%= index %>"></td>
        <td><%= link_to "voir le restaurant", "/restaurants/#{restaurant["id"]}"%></td>
      </tr>
  <% end %>
</table>